<div style="font-size: 16px; font-weight: 700" class="pageDiv">
    <ul style="margin: 15px">
        <li>Intro Pages: Intro pages are shown just one time application is loaded. Once skipped or read it cannot be
            visited</li><br/>
        <li>Choose Newspaper:  Just CNN, The NewYork time, Fox news and The washington times icons are shown, other all newspapers
            are shown dummy icons as no icons are provided in webservice response </li><br/>
        <li>Specific News: Author names of some newspaper are null and some are too large to fit in author block
            so they are marked as unknown</li><br/>
        <li> Device Back buttons are handled. On "Choose newspaper" page it will exit app</li><br/>
        <li> Navigation drawer can be opened using swipes </li><br/>
    </ul>
    <span style="float: right; margin-right: 10px;">-Fatema Bohra</span>
</div>