/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 50px;
    position: fixed;
    line-height: 50px;
    background-color: red;
    text-align: center;
    z-index: 1;
}

.fa-bars, .fa-arrow-left {
    color: white;
    float: left;
    margin: 12px
}

#header span {
    font-size: 24px;
    color: white;
}

.pageDiv {
    position: absolute;
    margin-top: 50px;
    height: 90%;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.container-img {
    width: 96%;
    height: 200px;
    margin: 5px 0px 0px;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 16px;
    right: 16px;
    text-align: left;
    font-weight: 700;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 12px;
    right: 20px;
    font-weight: 700;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #999999;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}



@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.grid-container:after {
    content: "";
    display: table;
    clear: both;
}

.grid-item {
    float: left;
    width: 44%;
    padding: 10px;
    height: 160px;
    margin: 0 0 40px;
    text-align: center;
}

.grid-item img {
    height: 100%;
    width: 100%;
}

.grid-item p {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

.introDiv {
    background-image: url(../img/splash-screen.png);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.help-page {
    height: 100%
}

.help-page img {
    margin: 0 6%;
    width: 88%;
    height: 58%
}

.help-page div {
    width: 90%;
    height: 40%;
    background-color: white;
    padding: 5%;
}

.pagination {
    width: 90%;
    height: 16px;
    background-color: white;
    list-style: none;
    text-align: center;
    margin: 0;
    position: fixed;
    bottom: 40px;
    padding: 0;
}

.pagination li {
    display: inline-block;
    border: 5px solid #999;
    border-radius: 5px;
    margin: 0 3px;
}

.pagination li.active {
    border-color: red;
}
